<!-- <div style="border: 1px solid black;"> -->
  <!-- <app-first></app-first> -->
  <!-- <app-second></app-second> -->
  <!-- </div> -->
  <h1>First Component</h1>
  4+4 = {{4+4}}
  <!--Template Expression-->
  <!--One Way Binding [Get Data From TS to HTML]-->

  <!-- {{name}} -->
  <p>{{name}}</p>
  <input type="text" value="name" />
  <input type="text" value="{{name}}" />
  <input type="text" [value]="name" />

  <input type="button" value="Change" (click)="changeName()" />

  <img src="https://images.unsplash.com/photo-1665475196083-089941262dd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" />

  <img src="../../../assets/Images/1.jpg" />
  <img src="assets/Images/2.jpg" />

  <img [src]="myImage" />

  <!--Two Way Binding-->
  <!--(1)ur Own Bind-->
    <input type="text" placeholder="First Name" (input)="getData($event)" [value]="fname"/>
    <p>{{fname}}</p>

  <!--(2)Angular Bind--> <!--ngModel Works Only with value Attribute-->
  <input type="text" placeholder="Last Name" [(ngModel)]="lname"/>
  <p>{{lname}}</p>







