

  

  
<form [formGroup] = "myRegFormValidation" class="form" (ngSubmit)="SendData()">

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">name</label>
      <input formControlName="name" type="text" class="form-control" id="exampleInputPassword1">
      <div *ngIf="!NameValid">
        <p class="alert alert-danger"> length must be &gt; 3 </p>
      </div>
    </div>
    <div class="mb-3">
        <label for="mail" class="form-label">mail</label>
        <input formControlName="mail" type="text" class="form-control" id="mail">
        <div *ngIf="!MailValid">
            <p class="alert alert-danger"> not a valid mail </p>
          </div>   
    </div>
  
    <div class="mb-3">
      <label for="age" class="form-label">age</label>
      <input formControlName="age" type="number" class="form-control" id="age">
      <div *ngIf="!AgeValid">
        <p class="alert alert-danger"> 20 &lt; AGE &lt; 40 </p>
      </div>
   
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>