<!-- <h1>Parent Component</h1> -->
<!-- <app-first></app-first> -->
<!-- <app-second></app-second> -->

<!-- <app-all-in-one></app-all-in-one> -->

<!-- <div>
  <h1>Parent Component</h1>

  <div>
    <h1>Home Component</h1>
    <app-home></app-home>
  </div>

  <div>
    <h1>Reg Component</h1>
    <app-registeration></app-registeration>
  </div>

</div> -->

<!-- <app-erini></app-erini> -->

<!--Day4-->
<!-- Component Interaction ===> Life Cycle -->
<!-- Validations -->
<!-- Routing ==> SPA -->


<!-- <app-registeration (myEvent) = "GetData($event)" ></app-registeration> -->
<!-- <app-students [studentsFromParent] = "students"></app-students> -->
<!-- <app-students [studentFromParent] = "student"></app-students> -->

<!-- <app-valid-test></app-valid-test> -->


<app-header></app-header>
<div class="alert alert-dark text-center m-auto w-75">
  <router-outlet></router-outlet>
</div>

